@font-face {
    font-family: "koverwatch";
    font-weight: 50;
    src: url("../fonts/koverwatch.ttf") format("truetype");
  }
  

.text-stroke {
    text-shadow : 5px 5px 5px #4B4B4B;
    font-family: "koverwatch";
}

.title {
    text-shadow : 5px 5px 5px #253486;
    font-family: "koverwatch";
}

.text-color {
    text-shadow : 3px 3px 3px #4F4F4F;
}

.koverWatch {
    font-family: "koverwatch";
}

.smaller {
    margin-left: 15%;
}

.outer-smaller{
    margin-left: 40%;
}

.background-logo{
    margin-left: 35%;
}

@media screen and (max-width: 1700px) {
    .smaller {
        margin-left: 5%;
    }

    .outer-smaller{
        margin-left: 50%;
    }

    .background-logo{
        margin-left: 30%;
    }
}