@font-face {
    font-family: "koverwatch";
    font-weight: 50;
    src: url("../fonts/koverwatch.ttf") format("truetype");
  }
  

.text-stroke {
    text-shadow : 5px 5px 5px #4B4B4B;
    font-family: "koverwatch";
}

.title {
    text-shadow : 5px 5px 5px #253486;
    font-family: "koverwatch";
}

.text-color {
    text-shadow : 3px 3px 3px #4F4F4F;
}

.koverWatch {
    font-family: "koverwatch";
}